{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
  <div class="col-md-12">
    <h3>{{item.name}}</h3>
  </div>
</div>
<div class="row"> 
  <div class="col-md-12">
    {{item.description}}
  </div>
</div>

<br>
<!-- The owner can delete or edit the item -->
{% if user_id == item.user.id %}
 <div>
   <a style='color:red;' href='{{url_for('editItem', catalog_name=item.catalog.name, item_name=item.name)}}'>Edit</a> |
   <a style='color:red;' href='{{url_for('deleteItem', catalog_name=item.catalog.name, item_name=item.name)}}'>Delete</a>
 </div>
{% endif %}

{% endblock %}
