{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
  <div class="col-md-12">
    <h2>{{item.name}}</h2>
  </div>
</div>
<div class="row"> 
  <div class="col-md-11">
    <p>
      <img src={{item.image}} width="200" height="200" align='right'>
      {{item.description}}
    </p>

  </div>
</div>

<br>
<!-- The owner can delete or edit the item -->
{% if user_id == item.user.id %}
 <div>
   <a style='color:red;' href='{{url_for('editItem', catalog_name=item.catalog.name, item_name=item.name)}}'>Edit</a> |
   <a style='color:red;' href='{{url_for('deleteItem', catalog_name=item.catalog.name, item_name=item.name)}}'>Delete</a>
 </div>
{% endif %}

{% endblock %}
