{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
	<div class="col-md-11">
		<h2>New Catalog</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<form action="#" method = "post">
			<div class="form-group">
			  <label for="name">Name:</label>
			  <input type ="text" class="form-control" maxlength="100" name="name">

        <br>
        {% if error_messages!='' %}
          <div style='color:red;'>{{error_messages}}</div>
        {% endif %}

			  <div class="padding-bottom"></div>
			  <button type="submit" id="submit">Create</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
