{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
	<div class="col-md-11">
		<h2>New Item</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<form action="#" method = "post">
			<div class="form-group">

				<label for="name">Name:</label>
				<input type ="text" maxlength="50" class="form-control" name="name" placeholder="Name of the item">

				<label for="description">Description:</label>
				<textarea class="form-control" maxlength="250" rows="5" name="description" placeholder="Description of the item"></textarea>

        <label for="image">Image:</label>
				<textarea class="form-control" maxlength="250" rows="3" name="image" placeholder="Image url of the item"></textarea>

        <label>Catalog:</label>
        <br>
        <select name="categories">
          {% for catalog in catalogs %}:
            <option value={{catalog.name}}>{{catalog.name}}</option>
          {% endfor %}
        </select>

        <br><br>
        {% if error_messages %}
          <div style='color:red;'>{{error_messages}}</div>
          <br>
        {% endif %}
        
        <br>
        <button>Create</button>

			</div>
		</form>
	</div>
</div>
{% endblock %}

