<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<h2>Login</h2>
				
		<form method="post">
			<table>
			<tr>
				<td>Username</div>
				<td><input type="text" name="username" value="{{username}}"></td>
				<td style="color:red;">{{error_username}}</td>
			</tr>
		
			<tr>
				<td>Password</td>
				<td><input type="text" name="password" value=""></td>
				<td>{{error_password}}</td>
			</tr>
			
			</table>
		
			<br>
			<input type="submit">
		
		</form>
	</body>
</html>