html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
    margin-top: 10px;
}

ul {
    padding: 0px;
}

.options-box {
    background: #fff;
    top: 0px;
    bottom: 0px;
    padding-left: 10px;
    text-align: left;
    width: 300px;
    position: absolute;
}

#menu {
    height:30px;
    top: 10px;
    bottom: 10px;
    left: 20px;
    position: absolute;
}

#menuBar {  
    top:0px;
    height: 50px;
    left: 310px;
    position: absolute;
    right: 0px;
    background:#000;
} 

#map{  
    top: 50px;
    bottom:0px;
    left: 310px;
    position: absolute;
    right: 0px;
}  
